<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typesupply.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>glyphs</key>
        <array>
          <string>space</string>
          <string>exclam</string>
          <string>quotesingle</string>
          <string>quotedbl</string>
          <string>numbersign</string>
          <string>dollar</string>
          <string>percent</string>
          <string>ampersand</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>asterisk</string>
          <string>plus</string>
          <string>comma</string>
          <string>hyphen</string>
          <string>period</string>
          <string>slash</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>less</string>
          <string>equal</string>
          <string>greater</string>
          <string>question</string>
          <string>at</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>bracketleft</string>
          <string>backslash</string>
          <string>bracketright</string>
          <string>asciicircum</string>
          <string>underscore</string>
          <string>grave</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>braceleft</string>
          <string>bar</string>
          <string>braceright</string>
          <string>asciitilde</string>
          <string>exclamdown</string>
          <string>cent</string>
          <string>sterling</string>
          <string>currency</string>
          <string>yen</string>
          <string>brokenbar</string>
          <string>section</string>
          <string>copyright</string>
          <string>ordfeminine</string>
          <string>guillemotleft</string>
          <string>logicalnot</string>
          <string>registered</string>
          <string>macron</string>
          <string>degree</string>
          <string>plusminus</string>
          <string>twosuperior</string>
          <string>threesuperior</string>
          <string>mu</string>
          <string>paragraph</string>
          <string>periodcentered</string>
          <string>onesuperior</string>
          <string>ordmasculine</string>
          <string>guillemotright</string>
          <string>onequarter</string>
          <string>onehalf</string>
          <string>threequarters</string>
          <string>questiondown</string>
          <string>Agrave</string>
          <string>Aacute</string>
          <string>Acircumflex</string>
          <string>Atilde</string>
          <string>Adieresis</string>
          <string>Aring</string>
          <string>AE</string>
          <string>Ccedilla</string>
          <string>Egrave</string>
          <string>Eacute</string>
          <string>Ecircumflex</string>
          <string>Edieresis</string>
          <string>Igrave</string>
          <string>Iacute</string>
          <string>Icircumflex</string>
          <string>Idieresis</string>
          <string>Eth</string>
          <string>Ntilde</string>
          <string>Ograve</string>
          <string>Oacute</string>
          <string>Ocircumflex</string>
          <string>Otilde</string>
          <string>Odieresis</string>
          <string>multiply</string>
          <string>Oslash</string>
          <string>Ugrave</string>
          <string>Uacute</string>
          <string>Ucircumflex</string>
          <string>Udieresis</string>
          <string>Yacute</string>
          <string>Thorn</string>
          <string>germandbls</string>
          <string>agrave</string>
          <string>aacute</string>
          <string>acircumflex</string>
          <string>atilde</string>
          <string>adieresis</string>
          <string>aring</string>
          <string>ae</string>
          <string>ccedilla</string>
          <string>egrave</string>
          <string>eacute</string>
          <string>ecircumflex</string>
          <string>edieresis</string>
          <string>igrave</string>
          <string>iacute</string>
          <string>icircumflex</string>
          <string>idieresis</string>
          <string>eth</string>
          <string>ntilde</string>
          <string>ograve</string>
          <string>oacute</string>
          <string>ocircumflex</string>
          <string>otilde</string>
          <string>odieresis</string>
          <string>divide</string>
          <string>oslash</string>
          <string>ugrave</string>
          <string>uacute</string>
          <string>ucircumflex</string>
          <string>udieresis</string>
          <string>yacute</string>
          <string>thorn</string>
          <string>ydieresis</string>
          <string>dotlessi</string>
          <string>gravecomb</string>
          <string>acutecomb</string>
          <string>uni0302</string>
          <string>uni0308</string>
          <string>uni030A</string>
          <string>tildecomb</string>
          <string>uni0327</string>
          <string>quoteleft</string>
          <string>quoteright</string>
          <string>minus</string>
        </array>
        <key>name</key>
        <string>Latin-default</string>
        <key>type</key>
        <string>glyphSet</string>
      </dict>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>exclam</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>guillemotleft</string>
      <string>logicalnot</string>
      <string>registered</string>
      <string>macron</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>mu</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>onesuperior</string>
      <string>ordmasculine</string>
      <string>guillemotright</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>multiply</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>divide</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>dotlessi</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>uni0302</string>
      <string>uni0308</string>
      <string>uni030A</string>
      <string>tildecomb</string>
      <string>uni0327</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>minus</string>
      <string>rcommaaccent</string>
      <string>ncommaaccent</string>
      <string>bullet</string>
      <string>Cdotaccent</string>
      <string>cedillacmb</string>
      <string>Ebreve</string>
      <string>dcroat</string>
      <string>eogonek</string>
      <string>guilsinglright</string>
      <string>Cacute</string>
      <string>circumflexcmb</string>
      <string>ohungarumlaut</string>
      <string>Hcircumflex</string>
      <string>Gdotaccent</string>
      <string>dieresis</string>
      <string>Scaron</string>
      <string>Uring</string>
      <string>cdotaccent</string>
      <string>uhungarumlaut</string>
      <string>hyphennobreak</string>
      <string>Zcaron</string>
      <string>hbar</string>
      <string>Ccircumflex</string>
      <string>emquad</string>
      <string>Emacron</string>
      <string>itilde</string>
      <string>cacute</string>
      <string>sixperemspace</string>
      <string>cedilla</string>
      <string>Dcroat</string>
      <string>uring</string>
      <string>ccaron</string>
      <string>perthousand</string>
      <string>oe</string>
      <string>dotaccentcmb</string>
      <string>imacron</string>
      <string>hungarumlaut</string>
      <string>Ycircumflex</string>
      <string>umacron</string>
      <string>uni0137</string>
      <string>Ncommaaccent</string>
      <string>emacron</string>
      <string>scaron</string>
      <string>Itilde</string>
      <string>Dcaron</string>
      <string>Eogonek</string>
      <string>Ubreve</string>
      <string>enquad</string>
      <string>ldot</string>
      <string>Edotaccent</string>
      <string>aogonek</string>
      <string>Eng</string>
      <string>gdotaccent</string>
      <string>Aogonek</string>
      <string>hairspace</string>
      <string>dagger</string>
      <string>dieresiscmb</string>
      <string>Amacron</string>
      <string>abreve</string>
      <string>Scedilla</string>
      <string>Omacron</string>
      <string>thinspace</string>
      <string>Eszett</string>
      <string>Sacute</string>
      <string>quotedblright</string>
      <string>uogonek</string>
      <string>iogonek</string>
      <string>Gcommaaccent</string>
      <string>Hbar</string>
      <string>endash</string>
      <string>uni0163</string>
      <string>Rcaron</string>
      <string>omacron</string>
      <string>caroncmb</string>
      <string>quotedblleft</string>
      <string>breve</string>
      <string>uni000D</string>
      <string>enspace</string>
      <string>ebreve</string>
      <string>Tbar</string>
      <string>quotesinglbase</string>
      <string>hcircumflex</string>
      <string>Cowboy</string>
      <string>dotaccent</string>
      <string>Rcommaaccent</string>
      <string>macroncmb</string>
      <string>Uhungarumlaut</string>
      <string>gcommaaccent</string>
      <string>Ncaron</string>
      <string>Ydieresis</string>
      <string>circumflex</string>
      <string>guilsinglleft</string>
      <string>wcircumflex</string>
      <string>Zdotaccent</string>
      <string>zacute</string>
      <string>caron</string>
      <string>Ohungarumlaut</string>
      <string>Iogonek</string>
      <string>Utilde</string>
      <string>horizontalbar</string>
      <string>OE</string>
      <string>uni0162</string>
      <string>Euro</string>
      <string>rcaron</string>
      <string>quotedblbase</string>
      <string>lcommaaccent</string>
      <string>emspace</string>
      <string>Ldot</string>
      <string>ogonek</string>
      <string>pertenthousand</string>
      <string>acute</string>
      <string>scircumflex</string>
      <string>zerowidthspace</string>
      <string>ecaron</string>
      <string>tbar</string>
      <string>ycircumflex</string>
      <string>commasubnosp</string>
      <string>ellipsis</string>
      <string>fourperemspace</string>
      <string>Lcaron</string>
      <string>zcaron</string>
      <string>Lacute</string>
      <string>zdotaccent</string>
      <string>lacute</string>
      <string>ogonekcmb</string>
      <string>obreve</string>
      <string>daggerdbl</string>
      <string>sacute</string>
      <string>racute</string>
      <string>emdash</string>
      <string>gcircumflex</string>
      <string>Abreve</string>
      <string>punctuationspace</string>
      <string>commaturnedabovecmb</string>
      <string>ibreve</string>
      <string>Uogonek</string>
      <string>Ecaron</string>
      <string>Ibreve</string>
      <string>nacute</string>
      <string>IJ</string>
      <string>ncaron</string>
      <string>Zacute</string>
      <string>Scircumflex</string>
      <string>threeperemspace</string>
      <string>ubreve</string>
      <string>ring</string>
      <string>scedilla</string>
      <string>breveinvertedcmb</string>
      <string>lslash</string>
      <string>Jcircumflex</string>
      <string>ringcmb</string>
      <string>edotaccent</string>
      <string>ccircumflex</string>
      <string>sfthyphen</string>
      <string>figuredash</string>
      <string>eng</string>
      <string>hungarumlautcmb</string>
      <string>Tcaron</string>
      <string>Imacron</string>
      <string>nbspace</string>
      <string>Nacute</string>
      <string>gbreve</string>
      <string>utilde</string>
      <string>dcaron</string>
      <string>fraction</string>
      <string>Wcircumflex</string>
      <string>Lcommaaccent</string>
      <string>Obreve</string>
      <string>amacron</string>
      <string>figurespace</string>
      <string>Gbreve</string>
      <string>jcircumflex</string>
      <string>Racute</string>
      <string>Gcircumflex</string>
      <string>brevecmb</string>
      <string>Lslash</string>
      <string>Ccaron</string>
      <string>Umacron</string>
      <string>trademark</string>
      <string>uni0000</string>
      <string>uni0136</string>
      <string>lcaron</string>
      <string>Idotaccent</string>
      <string>tilde</string>
      <string>tcaron</string>
      <string>hyphentwo</string>
      <string>ij</string>
    </array>
  </dict>
</plist>
